{% extends "base.html.twig" %} {% block title %}Qwant homepage{% endblock %} {% block body %}
<h1>Welcome to Qwant homepage</h1>
{% endblock %} {% block stylesheets %} {% endblock %} {% block javascripts %} {% endblock %}